@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --boxShadowColor: rgb(54 74 99 / 5%);
  --iconColor: rgba(0, 0, 0, 0.54);
  --lightBackground: #0000000A;
  --lightText: #a1887f; /* #8d8d8d; */
  --primaryBorder: #e5e9f2;
  --primaryBoxShadow: 0 0 5px 0 var(--boxShadowColor);
  --primaryColor: #ff5722; /* #4f4f76; */
  --primaryText: #6d4c41;
  --secondaryColor: #ff3e1d;
  --white: #fff;

  --zIndex1: 1111;
}

body {
  font-family: 'Inter', serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}